@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
    font-family: 'Bodoni';
    src: url('../assets/fonts/subset-BodoniCyrillic.eot');
    src: url('../assets/fonts/subset-BodoniCyrillic.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/subset-BodoniCyrillic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe-Light';
    src: url('../assets/fonts/Circe-Light.eot');
    src: url('../assets/fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Circe-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe-ExtraBold';
    src: url('../assets/fonts/Circe-ExtraBold.eot');
    src: url('../assets/fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Circe-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Circe-Regular';
    src: url('../assets/fonts/Circe-Regular.eot');
    src: url('../assets/fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Circe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'Circe-Light';
    min-width: 375px;
    min-height: 100vh;
    overflow: auto;
    background-color: #E5E5E5;
    position: relative;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

